.nav {
  height: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.hamburger-menu {
  color: var(--main-orange);
  font-size: 3rem;
  cursor: pointer;
  display: none;
}
.logo {
  color: var(--main-orange);
  text-transform: uppercase;

  font-size: 3rem;
  font-weight: bold;
}
.menu__list {
  display: flex;
  gap: 2rem;
}
.menu__list__link {
  color: var(--main-grey-dark);
}
.menu__list__link:hover {
  border-bottom: 2px solid var(--main-orange);
}

.mobile_menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-grey-light);
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.mobile_menu.active {
  display: inherit;
}

.menu__list_mobile {
  display: flex;
  font-size: 4.4rem;
  flex-direction: column;
  gap: 4rem;
}
/* Responsive Design */
@media (max-width: 1000px) {
  .nav {
    padding: 0;
  }
  .hamburger-menu {
    display: inherit;
    z-index: 999;
  }
  .menu__list {
    display: none;
  }
  .contact_me {
    display: none;
  }
  .hello_world {
    font-size: 4.4rem;
  }
  .my_name {
    font-size: 7.4rem;
  }
}

@media (max-width: 800px) {
  .hello_world {
    font-size: 4.4rem;
  }
  .my_name {
    font-size: 6rem;
  }
  .social_media_container {
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
  }
}
@media (max-width: 650px) {
  .hero-header {
    padding: 1rem;
  }
  .hello_world {
    font-size: 3rem;
  }
  .my_name {
    font-size: 5rem;
  }
  .download_cv {
    padding: 1rem 1rem;
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .hero-header {
    padding: 2rem;
  }
  .hello_world {
    font-size: 3rem;
  }
  .my_name {
    font-size: 3.8rem;
  }
  .download_cv {
    padding: 1rem 1rem;
    font-size: 2rem;
  }
}
@media (max-width: 400px) {
  .hero-header {
    padding: 2rem;
  }
  .hello_world {
    font-size: 2rem;
  }
  .my_name {
    font-size: 3rem;
  }
  .download_cv {
    padding: 1rem 1rem;
    font-size: 2rem;
  }
}
/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
